*, *::before, *::after {
	box-sizing: border-box;
	font-family: inherit;
}
body {
	font-family: sans-serif;
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
	margin: 0;
	padding: 0 5px;
	height: 28px;
	font-size: 14px;
	line-height: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #000;
	cursor: pointer;
	outline: none;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	background-color: #f3f3f3;
	background-image: linear-gradient(to bottom, #ffffff, #e1e1e1);
	border: 1px solid #dadada;
	border-left-color: #d2d2d2;
	border-right-color: #d2d2d2;
	border-bottom-color: #a9a9a9;
	box-shadow: 0 1px 0 rgba(0,0,0,0.15), inset 0 1px 1px 0 rgba(255,255,255,0.6);
	text-shadow: 0 1px 0 #ffffff;
	-webkit-appearance: none;
	appearance: none;
	vertical-align: middle;
	white-space: nowrap;
}
.btn-blue {
	background-image: linear-gradient(to bottom, #e0f7ff, #c4f1ff);
}
.btn-green {
	background-image: linear-gradient(to bottom, #d0f2d0, #a8f4a8);
}
.btn-yellow {
	background-image: linear-gradient(to bottom, #ffffe0, #ffff56);
}
.btn-orange {
	background-image: linear-gradient(to bottom, #ffe7c9, #ffd7a0);
}
.btn-pink {
	background-image: linear-gradient(to bottom, #ffe2eb, #ffccdc);
}
