button,
input[type=button],
input[type=reset],
input[type=submit] {
	margin: 2px 0;
	padding: 0 5px;
	height: 28px;
	font-size: 14px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.15), inset 0 1px 1px 0 rgba(255,255,255,0.6);
	border-radius: 4px;
	background-image: linear-gradient(to bottom, #ffffff, #e1e1e1);
	border: 1px solid #dadada;
	border-bottom-color: #a9a9a9;
	cursor: pointer;
}
.btn-blue {
	background-image: linear-gradient(to bottom, #e0f7ff, #c4f1ff);
}
.btn-green {
	background-image: linear-gradient(to bottom, #d0f2d0, #a8f4a8);
}
.btn-yellow {
	background-image: linear-gradient(to bottom, #ffffe0, #ffff56);
}
.btn-orange {
	background-image: linear-gradient(to bottom, #ffe7c9, #ffd7a0);
}
.btn-pink {
	background-image: linear-gradient(to bottom, #ffe2eb, #ffccdc);
}
