@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: BIZ UDPGothic, Meiryo, sans-serif;
	line-height: 1.5;
}
main {
	display: block;
	margin: auto;
}
ul ul {
	padding-left: 1.5em;
}
.example .wrap {
	background: #f8f8f8;
	padding: 1em;
	margin: 1.5em 0;
}
.example .iocurve {
	margin-bottom: 30px;
}
.example .picture-edit {
	display: flex;
	justify-content: center;
}
.example .picture-edit ul {
	margin-right: 3em;
}
.example .picture-edit .curve {
	width: 100%;
	max-width: 300px;
	margin: auto;
}
.example .picture-edit > div {
	max-width: 100%;
}
#mycanvas {
	max-width: 80%;
	display: block;
	margin: auto;
	object-fit: scale-down;
}
.example .picture-edit .hide {
	height: 0;
	overflow: hidden;
}
.example .picture-edit .channel {
	text-align: center;
}
.example .picture-edit .channel label {
	border: 1px solid transparent;
	padding: 0.5em;
}
.example .picture-edit .channel label.checked {
	border-color: #aaa;
	background: #fff;
}
.example .picture-edit .channel input {
	width: 1.2em;
	height: 1.2em;
	vertical-align: -0.15em;
	margin-right: 0.5em;
}
a.github {
	background-image: url(../img/mark-github.svg), url(../img/logo-github.svg);
	background-position: 6px center, 44px center;
	background-repeat: no-repeat;
	background-size: 30px, 70px;
	display: inline-block;
	height: 40px;
	width: 120px;
}
.rangeslider--horizontal {
	height: 12px;
}
.rangeslider__fill {
	background: #b3cfe0;
}
.rangeslider__handle {
	width: 20px;
	height: 20px;
}
.rangeslider--horizontal .rangeslider__handle {
	top: -5px;
}
.rangeslider__handle:after {
	display: none;
}
#header {
	margin: 0 40px;
}
#footer {
	margin: 0 40px;
	font-size: 14px;
}